
<input type="checkbox" @bind="MostrarBotones" />
<span>Mostrar botónes</span>

<ListadoGenerico Listado="Peliculas">
    <HayRegistros Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" MostrarBotones="MostrarBotones" />
    </HayRegistros>
</ListadoGenerico>

@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    bool MostrarBotones = false;

    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine("Eliminando Pelicula");
        Peliculas.Remove(pelicula);
    }
}
