@if (Peliculas is null)
{
    <img alt="cargando" src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" />
}
else if (Peliculas.Count == 0)
{
    <p>No hay películas</p>
}
else
{
    <input type="checkbox"@bind="MostrarBotones"/>
    <span>Mostrar botónes</span>

    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones"/>
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }
    
    bool MostrarBotones = false;
}
